
<!-- 공통 head -->
<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<!-- 내비게이션 바 -->
<th:block th:replace="~{fragments/nav :: common-nav}"></th:block>

<div class="container">
    <h2 class="my-3 border-bottom pb-2">글쓰기</h2>
    <form name="regForm" id="regForm" method="post" th:action="@{/board/page}">
        <input type="hidden" name="memberId" th:value="${memberId}">

        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" name="title" id="title" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>

        <input type="submit" value="확인" class="btn btn-success" >
        <input type="button" value="취소" class="btn btn-danger" onclick="fnCancle()">
    </form>
</div>

<script th:inline="javascript">

/*<![CDATA[*/
    function fnCancle() {

        location.href = /*[[@{/board/}]]*/ '';
    }
/*]]>*/

</script>


</body>
</html>
