<html>

<!-- 공통 head -->
<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>

<!-- 내비게이션 바 -->
<th:block th:replace="~{fragments/nav :: common-nav}"></th:block>

<div class="container">
    <h2 class="my-3 border-bottom pb-2">업데이트</h2>

    <form action="#" id="listForm" name="listForm" method="post" th:action="@{/board/page/update/{id}(id=${board.id})}">
        <div th:each="item : ${board}">
            <div class="mb-3">
                <label for="id" class="form-label">번호</label>
                <div type="text" name="id" id="id" th:text="${item.id}" class="form-control" disabled></div>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" name="title" id="title" th:value="${item.title}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea type="text" name="content" id="content" class="form-control"
                          rows="10" th:text="${item.content}"></textarea>
            </div>
        </div>

        <!-- 버튼 -->
        <input type="submit" class="btn btn-primary" value="수정">
        <input type="button" value="취소" class="btn btn-danger" onclick="fnCancle()">

    </form>
</div>


<script th:inline="javascript">

    /*<![CDATA[*/
    function fnCancle() {
        if (confirm('정말로 취소하시겠습니까?')) {
            location.href = /*[[@{/board/page/{id}(id=${board.id})}]]*/ ' ';
        }
    }
    /*]]>*/

</script>
</body>
</html>