<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photogram</title>

    <!-- booatstrap, jquery -->
    <script type="module" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="module" th:src="@{/js/bootstrap.esm.min.js}"></script>
    <script type="module" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="module" th:src="@{/js/jquery-1.12.2.min.js}"></script>
    <script type="module" th:src="@{/js/jquery-ui.1.9.2.min.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/stompjs@2.3.3/dist/stomp.min.js}"></script>

    <!-- WebSocket 및 STOMP 라이브러리 불러오기 -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>


    <!-- bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">


    <!-- Fontawesome -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css}" rel="stylesheet">
    <!-- Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap}" rel="stylesheet">
</head>