<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crud.home.mapper.CommentMapper">

    <!-- 댓글 조회 -->
    <select id="commentList" resultType="CaseLowerMap">
        select C_NO, B_NO, C_WRITER, C_PASSWORD, C_CONTENTS, date_format(REG_DT,"%Y-%m-%d %h:%i:%s") as REG_DT
        from boardComment
        where b_no = #{b_no}
        order by c_no desc
    </select>

    <!-- 댓글 작성 -->
    <insert id="insertComment" parameterType="CamelMap">
        insert into boardComment(B_NO, C_WRITER, C_PASSWORD, C_CONTENTS)
        values (#{b_no}, #{c_writer}, #{c_password}, #{c_contents})

    </insert>

    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="CamelMap">
        update boardComment
        set c_contents = #{c_contents}
        where c_no = #{c_no}
          and b_no = #{b_no}

    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment" parameterType="CamelMap">
        delete
        from boardComment
        where c_no = #{c_no}
          and b_no = #{b_no}

    </delete>


    <!-- 댓글 업데이트 -->
    <update id="countComment" parameterType="CamelMap">
        update noticeBoard
        set commentCount = (select count(c_no) from boardComment where b_no = #{b_no}) where b_no = #{b_no};
    </update>

</mapper>
