<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crud.home.mapper.NoticeMapper">

    <!-- 게시판목록조회 -->
    <!--    <select id="selectAll" resultType="CaseLowerMap">-->
    <!--    <select id="selectAll" resultType="CaseLowerMap">-->
    <!--        /* NoticeMapper.noticeList */-->
    <!--        SELECT b_no, b_writer, b_title, b_contents, REG_DT, B_HITS-->
    <!--        From noticeBoard-->
    <!--        order by b_no desc-->
    <!--    </select>-->

    <select id="selectNoticeList" resultType="CaseLowerMap">
        /* NoticeMapper.noticeList */
        SELECT b_no, b_writer, b_password, b_title, b_contents, REG_DT, B_HITS, commentCount
        From noticeBoard
        order by b_no desc
    </select>


    <!-- 게시물 찾기 -->
    <select id="findById" resultType="CaseLowerMap">
        SELECT b_no, b_writer, b_password, b_title, b_contents, REG_DT, B_HITS, commentCount
        From noticeBoard
        where b_no = #{b_no}

    </select>

    <!-- 게시물 등록 -->
    <insert id="insertBoard" parameterType="CamelMap">
        insert into noticeBoard (b_writer, b_password, b_title, b_contents)
        VALUES (#{b_writer}, #{b_password}, #{b_title}, #{b_contents})
    </insert>

    <!-- 업데이트 -->
    <update id="updateBoard" parameterType="CamelMap">
        update noticeBoard
        set b_title    = #{b_title},
            b_contents = #{b_contents}
        where b_no = #{b_no}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="delete" parameterType="CamelMap">
        --         delete
--         from noticeBoard
--         where b_no = #{b_no}

        delete
        b, c from noticeBoard b left join boardComment c on b.b_no=c.b_no
        where b.b_no = #{b_no};

    </delete>

<!--    <delete id="delete" parameterType="CamelMap">-->
<!--        delete-->
<!--        from noticeBoard-->
<!--        where b_no = #{b_no}-->
<!--    </delete>-->


    <!-- 게시물 조회수 -->
    <update id="hits" parameterType="CamelMap">
        update noticeBoard
        set b_hits=IFNULL(b_hits, 0) + 1
        where b_no = #{b_no}

    </update>

    <!-- 게시글 내 댓글 조회수 -->

    <update id="countComment" parameterType="CamelMap">
        update noticeBoard
        set commentCount = (select count(c_no) from boardComment where b_no = #{b_no}) where b_no = #{b_no};
    </update>

</mapper>
